body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
.issue {
  cursor: pointer;
}
.issue.edit .issue-edit {
  display: inline-block;
}
.issue.edit .issue-save {
  display: inline-block;
}
.issue.task {
  background-color: #46b8da;
}
.issue.bug {
  background-color: #e4b9c0;
}
.issue .issue-id:before {
  content: '#';
}
.issue .issue-edit {
  display: none;
  margin-right: 15px;
  width: 60%;
  font-size: 12px;
}
.issue .issue-save {
  display: none;
}
.progress-col {
  min-height: 800px;
  border: 1px solid #000000;
}
